* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li, figure {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background: linear-gradient(135deg, #e99f3f, #2c90ac, #79b2d3); 
}

._container {
  max-width: 1160px;
  width: 100%;
  padding: 10px 20px;
  margin: 0 auto;
}

._hidden {
  display: none;
}

.header {
  width: 100%;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.header__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header__user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__user-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.header__user-icon img {
  width: 100%;
  height: 100%;
}

.header__current-user-email {
  font-size: 16px;
}

.header__controls__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__limit-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__limit-label {
  color: #ffffff;
}

.header__options-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.header__filter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.header__filter-checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
}

.header__limit-input {
  width: 250px;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  color: #383838;
}

.header__limit-input::placeholder {
  color: #383838;
  opacity: 0.8;
  font-size: 12px;
}

.header__set-limit-button {
  width: 150px;
  padding: 8px;
  color: #ffffff;
  background-color: #d059e7;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.header__set-limit-button:hover {
  background-color: #e9982d;
}

.header__set-limit-button.invalid {
  background-color: rgba(215, 41, 41, 0.6);
  cursor: auto;
}

.header__upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__upload-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__upload-label {
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: all .4s ease-in-out;
  font-size: 16px;
}

.header__upload-label:hover {
  background-color: #d059e7;
}

.header__upload-label:active {
  background-color: #c41d1d;
}

.header__upload-submit-button {
  padding: 5px 7px;
  max-width: 100px;
  border-radius: 3px;
  border: none;
  background: #e9982d;
  color: #ffffff;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.header__upload-submit-button:hover {
  background-color: #d059e7;
}

.header__upload-submit-button.processing {
  background-color: rgba(222, 68, 68, 0.6);
}

.header__files-container {
  margin-top: 20px;
}

.header__list-item {
  padding: 5px 8px;
  margin: 10px 0;
  background-color: #d059e7;
  font-size: 14px;
  border-radius: 5px;
}

._button {
  border: none;
  outline: none;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

._button:hover {
  background-color: #d4bd3a;
  color: #000;
}

.main {
  width: 100%;
}

.gallery {
  width: 100%;
  padding: 20px 0;
}

.gallery__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gallery__empty-message {
  font-size: 28px;
  color: #ffffff;
}

.gallery__photos {
  max-width: 800px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: 10px;
}

.gallery__picture-wrapper {
  width: 1fr;
  height: 1fr;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #fff;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.gallery__divider {
  background-color: #000;
  width: 100%;
  height: 2px;
  border: none;
  margin-top: 40px;
  margin-bottom: 30px;
}

.gallery__links-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.gallery__page-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.gallery__link-item {
  transition: background-color 0.3s ease-in-out;
  padding: 2px 8px;
  cursor: pointer;
  background-color: #e9982d;
  border-radius: 5px;
}

.gallery__link-item.active {
  background-color: #d059e7;
}

.gallery__link-item:hover {
  outline: 1px solid #fff;
}

.gallery__error-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gallery__error-pop-up.show {
  display: flex;
}

body.block {
  overflow: hidden;
}

.gallery__pop-up-container {
  width: 500px;
  height: 400px;
  background-color: #f3f0ea;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__error {
  text-align: center;
  vertical-align: middle;
}

.gallery__error-message {
  font-size: 20px;
  color: #000;
  word-wrap: break-word;
  margin-top: 40px;
  margin-bottom: 30px;
}

.gallery__notification-sign {
  font-size: 24px;
  border: 2px solid #000;
  padding: 10px 20px;
  text-align: center;
  color: rgb(240, 150, 16);
}

.gallery__error-redirect-link {
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #d059e7;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.gallery__error-redirect-link:hover {
  background-color: #e9982d;
}

